@use "./global.scss";
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

.invisible{
  display:none;
}
.noise{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/noise.gif");
  background-repeat: repeat;
  background-size: 320px;
  pointer-events: none;
  opacity: 0.06;
  //display: none;
  z-index: 5;
}
.swiper{
  display: grid;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  z-index: 190;
  pointer-events: none;
  background-color: c.$beige;
  transform-origin: center left;
}
.swiper_text{
  color: c.$black;
  opacity: 0;
}
.no-scroll{
  overflow: hidden;
}
.info_bar{
  opacity: 0;
  z-index: 2;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: c.$black;
}
.info_bar_text_wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.info_bar_name{
  grid-column: 1/3;
  font-family: "Montreal";
  text-transform: none
}
.info_bar_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 3/7;
}
.info_bar_link{
  margin-right: 1rem;
}
@media screen and (max-width: 420px){
  .info_bar_name{
    display: none;
  }
  .info_bar_links{
    grid-column: 1/7;
    padding-block: 4px;
  }
}

// HERO SECTION ++++
.hero_wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero_text{
  width: 100%;
  text-align: center;
}
.hero_loader{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.hero_scroll{
  text-align: center;
  font-size: 1.25rem;
  font-family: "Montreal";
}
// HERO SECTION ====

// WORK SECTION ++++
.work_wrapper{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 12rem;
}
.project_tittle{
  padding-top: 2rem;
  margin-left: 1rem;
  grid-column: 5/7;
  display: flex;
  border-top: 1px solid c.$white;
}
.project_cover{
  cursor: pointer;
  border-radius: 1.75rem;
  position: relative;
  grid-column: 1/5;
  height: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background-position-y ease 1s ;
}
.project_cover:hover{
  background-position-y: 70%;
}
.project_cover.one{
  background-image: url("../img/Smile/Smile01.jpg");
}
.project_cover.two{
  background-image: url("../img/Smile/Smile01.jpg");
}
.project_cover.three{
  background-image: url("../img/Smile/Smile01.jpg");
}
.project_popup{
  width: 100%;
  height: 100%;
  //background-color: c.$beige;
  background-color: #000000;
  opacity: 0;
  display: grid;
  place-content:center;
}
.project_popup_text{
  color: c.$white;
}
.project_wrapper{
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: scroll;
  visibility: hidden;
  pointer-events:all;
  background-color: black;
}
.project_image{
  width: 100%;
  margin-bottom: 2rem;
}
.project_hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: f.$fH2;
}
.project_hero_sub{
  //border-top: 1px solid c.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  color: c.$orange;
  font-size: f.$fB;
}
.close_button{
  cursor: pointer;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1rem;
  right: 1rem;
  //background-color: c.$white;
  border-radius: 50%;
  z-index: 105;
  transition: background-color 1s ease;
  svg{
    fill: c.$white;
    width: 14px;
    height: 14px;
    transition: fill 1s ease;
  }
}
.close_button:hover{
  background-color: c.$white;
  svg{
    fill: c.$black;
  }
}
@media screen and (max-width: 700px) {
  .project_tittle{
    grid-column: 1/7;
    padding-top: 2rem;
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .project_cover{
    grid-column: 1/7;
  }
 }
// WORK SECTION ====

// ABOUT SECTION ++++
.about_wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: solid 1px c.$white;
  padding-top: 2rem;
}
.about_tittle{
  grid-column: 1/2;
}
.about_paragraph{
  grid-column: 3/7;
}
// ABOUT SECTION ====

// CONTACTS SECTION ++++
.contacts_wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: solid 1px c.$white;
  padding-top: 2rem;
}
.contacts_tittle{
  grid-column: 1/2;
}
.contacts_paragraph{
  grid-column: 3/7;
}
.contacts_links_wrapper{
  margin-top: 2rem;
  grid-column: 3/7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.link_wrapper{
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block: 0.2rem;
  margin-right: 2rem;
}
.link{
  position: relative;
  color: c.$orange;
}
.link_subtext{
  opacity: 0.7;
}
.link_underline{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: c.$white;
  opacity: 0.7;
  transform: translateX(-102%);
}
// CONTACTS SECTION ====

// CREDITS SECTION ++++
.credits_wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: solid 1px c.$white;
  padding-top: 2rem;
}
.credits_tittle{
  grid-column: 1/2;
}
.credit_wrapper{
  grid-column: 3/7;
  display: flex;
  flex-direction: column;
}
.credit{
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.credit_type{
  margin-bottom: 2rem;
}
.credit_subtext{
  opacity: 0.5;
}
// CREDITS SECTION ====